.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .row-header {
  width: 100%;
  background: #0b0a0d;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.container .row-header nav .navbar {
  display: inline-flex;
  justify-content: center;
}

.container .row-header nav .navbar a {
  text-decoration: none;
  color: lightblue;
  padding: 0 8px;
  border: 1px solid rgb(71, 80, 79);
  margin: 0 8px;
  opacity: 0.7;
  border-radius: 5px;
}

.container .row-header nav .navbar a:hover {
  opacity: 1;
  background: rgb(14, 32, 37);
}

section {
  margin: 90px 50px;
}

h1 {
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  background-color: #4691d6;
}
.tbl-content {
  height: 300px;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid rgb(76, 200, 238);
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  color: #fafafa;
  text-transform: uppercase;
  word-wrap: break-word;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  word-wrap: break-word;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

td:nth-child(5) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.edit,
.del {
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  color: #000;
  font-weight: 600;
}

.edit:hover,
.del:hover {
  opacity: 0.5;
  box-shadow: 0 0 5px #000;
}

.edit {
  background: yellow;
  border-radius: 5px;
}
.del {
  background: red;
  border-radius: 5px;
}
